<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Taxon Image Nearest Neighbor</title>
</head>
<body>
<div class="container-fluid">
    <form action="/" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="imageInput">Upload Image</label>
        <input id="imageInput" type="file" name="image" accept="image/*">
    </div>
        <button type="submit">Submit</button>
        </form>
        <br />
        <a href="/tp/">All Processed Taxon Photos</a>
</div>
</body>
</html>
